:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(243, 243, 243, 0.87);
	background-color: #23232c;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

/* div, section, main{
	border: 1px solid red;
} */

body {
	min-height: 97vh;
}

h1 {
	font-size: 3.2em;
	line-height: 0;
}

.button_enabled {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-family: inherit;
	background-color: #23232c;
	cursor: pointer;
	color: white;
	transition: border-color 0.25s;
}

.button_enabled:hover {
	border-color: #707070c7;
}
.button_disabled {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-family: inherit;
	background-color: #5f5f5f;
	cursor: not-allowed;
	color: rgb(139, 139, 139);
	transition: border-color 0.25s;
}




/* ! *************************************** */
/* ! *************************************** */
/* ! *************************************** */
/* ! *************************************** */
/* ! *************************************** */
/* ! *************************************** */


.registration {
	height: 97vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.registration_container {
	width: 500px;
	background-color: #b8b8b84b;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0px 0px 15px 1px #fffefe21;
}

.registratrion_form_input {
	display: flex;
	flex-direction: column;
	/* margin: 20px 0px; */
}

form {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-top: 40px;
	margin-bottom: 20px;
}

a,
a:visited {
	color: #fff;
}

input[type="text"],
input[type="password"],
textarea {
	font-family: 'Nunito', sans-serif;
	font-size: 22px;
	padding: 0.25rem;
	padding-left: 10px;
	border-radius: 5px;
	border: 1px solid rgb(160, 160, 160);
}

/* label,
button {
	margin-top: 1rem;
} */


.instructions {
	font-size: 0.75rem;
	border-radius: 0.5rem;
	background: #000;
	color: #fff;
	padding: 0.25rem;
	position: relative;
	bottom: -10px;
}

.instructions>svg {
	margin-right: 0.25rem;
}

.offscreen {
	position: absolute;
	left: -9999px;
}

.hide {
	display: none;
}

.valid {
	color: limegreen;
	margin-left: 0.25rem;
}

.invalid {
	color: red;
	margin-left: 0.25rem;
}

.errmsg {
	background-color: lightpink;
	color: firebrick;
	font-weight: bold;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}

.line {
	display: inline-block;
}

/* .button_enabled {
	border-radius: 8px;
	border: 1px solid gray;
	background-color: #23232c;
	cursor: pointer;
	color: white;
	transition: border-color 0.25s;
}
.button_disabled {
	border-radius: 8px;
	border: 1px solid gray;
	background-color: #23232c;
	cursor: pointer;
	color: white;
	transition: border-color 0.25s;
} */